/*VARIABLES AND FONTS*/
:root {
    --Skyfy_azul: #4381c1;
    --Skyfy_amarillo: #FFB700;
    --Skyfy_gris: #555;
    --Skyfy_blanco: #fff;
    --Skyfy_fondo: #e4f2ff;
}

@font-face {
    font-family: montserrat_medium;
    src: local(montserrat),
    url("./Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: montserrat_bold;
    src: local(montserrat),
    url("./Montserrat/static/Montserrat-Bold.ttf");
}

/*HEADER AND FOOTER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Skyfy_azul);
    
}

.letterpanel {
    font-family: 'montserrat_medium';
    font-size: 1.5em;
    color: var(--Skyfy_blanco);
    text-decoration: none;
}

.letterpanel:hover {
    color: var(--Skyfy_gris);
}

.headerlist {
    list-style-type: none;
    display: flex;
    gap:5em;
    margin: 0 3em;
}

.logo {
    width: 10em; 
    margin-left: 3em;
    
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Skyfy_azul);
    color: var(--Skyfy_blanco);
    padding: 20px;
    font-family: montserrat_medium;
    font-size: 16px;
    text-align: center;
}

.footer_caja_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
   
    
}

.footer_texto {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.footer_links_box {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.footer_caja ul {
    margin-left: 1.2em;
    padding: 0;
    
}



.footer_caja a {
    color: var(--Skyfy_blanco);
    text-decoration: none;
    font-size: 0.9em;
}

.footer_caja a:hover {
    text-decoration: underline;
}




body {
    text-align: center;
    background-color: var(--Skyfy_fondo);
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: montserrat_medium;
}



/*CONTENT*/
.title_nasa {

    color: var(--Skyfy_azul);
    font-family:'montserrat_bold';
    font-size: 2.5em; 
}
#imagen_nasa {
    max-width: 90%;
    height: auto;
    margin: 1rem 0;
    border-radius: 10px;
}

.date_picker {
    margin: 1.5rem 1em;
    color: var(--Skyfy_azul);
    display: flex;
    justify-content: center;
    gap:2em;
}



.explanation {
    font-family: 'montserrat_medium';
    font-size: 1.5em; 
    margin: 3em;
    
}

.title_photo{
    font-size: 2em;
    font-family: montserrat_bold;
}


label {
    font-family: 'montserrat_bold';  
    font-size: 1.4em;  
    margin-top: 5px;
    
                 
}


input[type="date"] {
    padding: 8px;                       
    font-size: 16px;                    
    border: 3px solid var(--Skyfy_azul);         
    border-radius: 5px;                 
   
   
}



button {
    padding: 10px 20px;               
    font-size: 16px;                  
    background-color: var(--Skyfy_azul);       
    color: var(--Skyfy_blanco);              
    border: none; 
    
    border-radius: 5px;            
    font-family: 'montserrat_medium';  
}


button:hover {
    color: var(--Skyfy_azul);
    background-color: var(--Skyfy_blanco)  
    
}

@media (max-width: 768px) {
 

    .logo {
        width: 6em; 
        margin-left: 2em;
    }

    .letterpanel {
        
        font-size: 1.2em;
   
    }

    .headerlist {
        
        gap:1em;
        margin: 0 2em;
    }

    .title_nasa {
        font-size: 1.5em; 
    }

    #content h2{
        font-size: 1.3em;
    }

    .explanation {
        font-family: 'montserrat_medium';
        font-size: 1em; 
        margin: 3em;
        
    }

    .date_picker{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5em;
        gap: 1em;
    }
}